[Desktop Entry]
Type=Application
Name=StorLive
Comment=Desktop multi-live application
Exec=storlive
Icon=applications-multimedia
Terminal=false
Categories=AudioVideo;Recorder;
